		<!-- Footer -->
			<div id="footer">
				<div class="container">
					<div class="row ">
						<div class="6u">
							<div class="row collapse-at-2">
								<section class="6u">
									<h3>Links to Study</h3>
									<ul class="links">
										<li><a href="http://e.nfu.edu.cn/"> 教程网站</a></li>
										<li><a href="https://html-cleaner.com/">清理HTML文件或段落的小工具</a></li>
										<li><a href="https://www.w3cplus.com/content/css3-multiple-backgrounds">CCSS3渐变背景的方法</a></li>
										<li><a href="#">Rutrum accumsan dolor</a></li>
										<li><a href="#">Mattis rutrum accumsan</a></li>
										<li><a href="#">Suspendisse varius nibh</a></li>
										<li><a href="#">Sed et dapibus mattis</a></li>
									</ul>
								</section>
								<section class="6u">
									<h3>More Links to Stuff</h3>
									<ul class="links">
										<li><a href="#">Duis neque nisi dapibus</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum accumsan sed</a></li>
										<li><a href="#">Mattis et sed accumsan</a></li>
										<li><a href="#">Duis neque nisi sed</a></li>
										<li><a href="#">Sed et dapibus quis</a></li>
										<li><a href="#">Rutrum amet varius</a></li>
									</ul>
								</section>
							</div>
						</div>
						<section class="6u">
							<h3>Get In Touch</h3>
							<form>
								<div class="row half collapse-at-2">
									<div class="6u">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="6u">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
									</div>
								</div>
								<div class="row half">
									<div class="12u">
										<ul class="actions">
											<li><input type="submit" class="button alt" value="Send Message" /></li>
										</ul>
									</div>
								</div>
							</form>
						</section>
					</div>
				</div>

				<!-- Icons -->
					<ul class="icons">
						<li><a href="https://github.com/yejiejie" class="icon fa-github"><span class="label">GitHub</span></a></li>
						<li><a href="#" class="icon fa-qq"><span class="label">QQ</span></a></li>
						<li><a href="#" class="icon  fa-wechat"><span class="label">Wechat</span></a></li>
						<li><a href="https://weibo.com/2386633542/profile?rightmod=1&wvr=6&mod=personinfo" class="icon fa-weibo"><span class="label">Weibo</span></a></li>
						
					</ul>

				<!-- Copyright -->
					<div class="copyright">

						
					</div>

			</div>

	</body>
</html>
